@model ApplicationStore.Models.Platform

@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-primary p-md-3">آیا اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStoreUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationStoreUser.FirstName)&nbsp;@Html.DisplayFor(model => model.ApplicationStoreUser.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn-outline-secondary"><i class="far fa-chevron-right"></i>&nbsp;بازگشت</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
